/*******************************/
/********* frame.css ***********/
/*******************************/
/***** itemcloud.org/lemon *****/
/*******************************/

html, body { min-height: 100%; }

body {
	margin: 0px;
	background-color: #CCCCDD;
	background-image: linear-gradient(#73738c, #CCCCDD);	
	font-family: helvetica;
	cursor: default;
}

hr {
	margin: 4px 0px;
	padding: 0px;
	border: 1px solid #EEE;
}

hr.buffer {
	margin: 20px 0px;
}

a { 
	color: white;
	cursor: pointer;
}

.logo {
	float: left;
	margin: 4px;
	font-size: 1.4em;
	cursor: pointer;
}

.header, .footer {
	background-color: #333;
	width: 1240px;
	margin: 0px auto;
}

.header {
    background: repeating-linear-gradient(
			     -55deg,
			     #222,
			     #222 10px,
			     #333 10px,
			     #333 20px
			 );
}

.header_inner, .footer_inner {
	width: 1200px;
	margin: 0px auto;
	color: #eee;
	font-size: 19px;
}

.footer_inner {
	padding: 30px 0px;
}

.footer_icon {
	width: 100px;
	vertical-align:middle;
}

.nav_toggle {
	font-size: 10px;
	border-radius: 4px;
	border: 1px solid #666;
	padding: 6px 8px;
	margin: 0px 6px;
	background-color: #222;
	display: inline-block;
	cursor: pointer;
}

.nav_menu_links, .nav_feed_links {
	display: inline-block;
}

.nav_feed_links {
margin-top: 6px;
}
 
.nav_menu_links select {
	background-color: #333;
	color: #FFF;
	height: 24px;
	border-radius: 12px;
	margin-top: 2px;
}

.nav_links, .user_links { 
	margin: 6px 6px 0px 0px;
	font-size: 14px;
}

.user_links {
	margin-top: 12px;
}

.nav_links { 
	float: left;
}
.nav_links a, .user_links a  {
	text-decoration: none;
}

.nav_links a {
	margin: 0px 10px;
}

.user_links { 
	float: right;
}

/* Page Display */
.splash-page, .page { 
	padding: 0px 0px;
	background-color: #444;
}

.page_section {
	padding-bottom: 20px;
	border-bottom: 2px solid #333;
	margin: 0px auto;
}

.page_section .item-page {
	width: 820px;
}

.page_section_title .item-tools_grey {
	padding: 0px;
}

.page_section_title {
	border-bottom: 2px solid #333;
	padding: 20px;
	text-align: left;
}

.section {
    width: 1240px;
    margin: 0px auto;
    background-color: #444;
    color: #73738c;
}

.section_inner {
    display: inline-block;
    width: 1240px;
    margin: 0px auto; 
    text-align: center; 
    color: #ccc;
    font-size: 1em;
}

.section_inner a {
	color: #FFF;
}

.quote {
	font-size: 2em;
}

.feed-tools .item-tools_grey {
	border: 2px solid red;
	padding: 0px;
}

/* Display Inputs */
textarea.form {
    resize: none;
    overflow: hidden;
    min-height: 34px;
    max-height: 340px;
}
input.form, textarea.form {
	width: 80%;
	min-width: 240px;
	height: 34px;
	font-size: 22px;
	padding: 4px;
}
input.wider, textarea.form {
    max-width: auto;
}

input.form_button {
	height: 34px;
	margin-top: 4px;
	padding: 6px 10px;
	border: none;
	cursor: pointer;
	background-color: #FFF;
	color: #111;
	font-weight: bold;
}

input.form_button:hover {
	color: #666;
}

input.item_tools {
	display: inline-block;
	border: none;
	background-color: #CCC;
	border-radius: 14px;
	border: none !important;
	border: 0;
	padding: 6px 10px;
	margin-left: 4px;
	color: #999;
	font-size: 14px;
	font-style: none;
	font-weight: bold;
	font-family: arial;
	cursor: pointer;
	margin-bottom: 8px;
}

input.item_tools_inactive {
    cursor: pointer;
    display: inline-block;
    margin: 8px;
    padding: 8px;
    background-color: #FFF;
    border-width: 0px;
}

input.item_tools_inactive:hover {
	text-decoration: underline;
}

.popup-form * {
	/*pointer-events: none;*/
}

/* Display helpers */
.clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.alertbox-show a {
	color: #FFF;
}
.alertbox-show {
    display: block;
    width: 800px;
    background-color: #444;
    padding: 24px 0px;
    margin-bottom: 12px
}
.alertbox-hide { display: none; }
 
.avatar {
	width: 120px;
	height: 120px;
	margin: 20px 0px 0px 40px;
}

/* Display items */
.item-link img {
	cursor: pointer;
}
.item-page a, .item-box a,  .item-card a,  .item-banner a {
	color: #73738c;
	font-size: 12px;
}
.item-link a , .item-file a{
	color: #73738c;
	font-size: 12px;
}
.item-link a:hover {
	color: #333;
}

.item-section {
     width: 820px;
     margin: 0px auto;
     padding: 20px 0px;
}

.item-info, .item-link {
	border-bottom: 2px solid #EEE;
}

.item-meta {
	padding-top: 8px;
	min-height: 24px;
}

.item-box .item-meta {
	padding: 8px;
	border-bottom: 0px solid #EEE;
	margin-bottom: 8px;
}

.item-title {
	border-bottom: 2px solid #EEE;
	padding-bottom: 8px;
	font-size: 2em;
	line-height: 1em;
	cursor: pointer;
}

.item-page .item-link {
    margin-bottom: 2px;
    padding: 8px 0px;
}

.item-page .item-info {
	margin-top: 8px;
	min-height: 60px;
}

.item-user-link {
    margin-bottom: 2px;
}

.item-date {
	color: #aaa;
	font-size: 11px;
}

/*item page*/
.item-page {
    width: 100%;
    display: inline-block;
    overflow: hidden;
	margin: 4px;
    margin-bottom: 8px;
    padding: 8px 14px;
    text-align: left;   
    box-sizing: border-box;
}

.item-page-inner {
    padding: 8px 14px;
}

.item_reply {
	width: 820px;
	margin: 0px auto 20px auto;
}

.item_reply .item-section {
	width: 820px;
	float: right;
}

.item_reply .item-box, .item_reply .item-page {
	width: 640px;
	float: right;
	clear: both;
}

/*item box*/
.item-box {
	min-width: 380px;
	width: auto;
	overflow: hidden;
	display: inline-block;
	float: left;
	margin: 4px;
	text-align: left;
	background-color: #fff;
	border-radius: 8px;
	color: #333;
}

.item-box .item-nodes .item-link .image-cell {
	max-height: 380px;
	overflow: hidden;
}

.item-box .item-nodes .item-title {
	padding: 8px 8px;
	border-bottom: 2px solid #EEE;
	margin-bottom: 2px;
}

.item-box .item-info span {
	display: inline-block;
	padding: 14px;
}

/*item card*/
.item-card {
	width: 820px;
	overflow: hidden;
	display: inline-block;
	margin: 4px;
	text-align: left;
	background-color: #fff;
	border-radius: 8px;
	color: #333;
}

.item-card  .item-nodes .item-link .image-cell {
	height: 320px;
	width: 380px;
	overflow: hidden;
}
.item-card  .item-nodes .item-link .image-cell img{
	height: 100%;
	object-fit: cover;
}

.item-card  .item-nodes .item-link  {
	width: 380px;
	float: left;
	border-bottom: 0px solid white;
}

.item-card  .item-nodes .item-link audio {
	width: 360px;
	height: 320px;
	background-image: linear-gradient(#73738c, #333);
	padding: 10px;
}

.item-card .item-meta  {
	float: right;
	width: 434px;
	margin: 0px 2px;
}

.item-card .item-nodes .item-title, .item-card .item-nodes .item-info  {
	padding: 8px 8px;
	border-bottom: 2px solid #EEE;
	margin-bottom: 2px;
	float: right;
	width: 424px;
}

.item-card .item-info span {
	display: inline-block;
	padding: 14px;
}

.item-card .item-info {
	max-height: 200px;
	overflow: auto;
}

/*item banner*/
.item-banner .item-nodes {
 padding: 80px 300px;
}

.item-banner .item-nodes .item-title, .item-banner .item-nodes .item-info{
	border-bottom: 0px solid #EEE;
}

.item-banner .item-nodes .item-title {
	cursor: default;
	padding: 8px;	
	margin-bottom: 2px;
}

.item-banner .item-nodes .item-link {
	display: none;
}

.item-banner .item-meta {
	padding: 8px;
	margin: 2px 8px;
	display: none;
}

/* Display page sections */
.banner {
	background-image: linear-gradient(#333, #444);	
}

.page {
	margin: 0px auto;
}

.box{  
	-webkit-column-width: 380px; /* Chrome, Safari, Opera */
	-moz-column-width: 380px; /* Firefox */
	column-width: 380px;
	padding: 20px;
}

.item-box {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
 }

/* Display file items*/
.file_text {
    margin: 14px 0px 0px 0px;
    font-weight: bold;
}

.file_button {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    background-color: #333;
    border-radius: 14px;
    color: #FFF;
}

.file-link {
	padding: 0px;
	background-color: #fff;
	background-image: linear-gradient(#fff, #eee);	
}

/* Display item tools */
.item-tools, .item-tools_grey, .item-tools_dark {
	display: inline-block;
	background-color: #333;
	border-radius: 16px;
	margin: 0px 0px 8px 4px;
	padding: 4px 8px;
	color: #999;
	font-size: 14px;
	font-style: none;
	font-weight: bold;
	font-family: arial;
	cursor: pointer;
	margin-bottom: 8px;
	
    border: none !important;
    border: 0;
}

.item-tools:hover {
	background-color: #DCDCDC;
}


.item-tools_grey {
	background-color: #DCDCDC;
	color: #333;
}

.item-tools_grey a {
	color: #333;
}

.item-tools_dark {
	background-color: #333;
}

.item-meta .item-tools_grey { padding: 0px; }
.item-meta .item-tools_grey div { margin-right: 4px; }
.item-tools img, .item-tools_grey img, .item-tools_dark  img{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin: 2px;
	border-radius: 50%;
	overflow: hidden;
}
.item-tools_txt { 
	height: 32px;
	width: 32px;
	font-size: 18px;
	text-align: center;
	font-family: Georgia, serif;
	margin: auto;
	padding: 0px;
	display: table-cell;
	vertical-align: middle;
}
.item-button { 
	height: 32px; 
	width: 32px; 
	font-size: 18px; 
	text-align: center; 
	font-family: Georgia, serif;
}
.item-user {
	float: left; 
	width: 30px;
	height: 30px; 
	margin-right: 4px;
	overflow: hidden;
	background-color: #ccc;
	background-image: url(./img/icon/user-default.png);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
 }
 
div.inline-name {
	text-decoration: underline;
}

div.inline-name, div.inline-remove {
	display: inline-block;
	white-space: nowrap;
	margin-right: 4px;
	padding-top: 6px;
}


select.item-dropdown{
    display: inline-block;
	width: 100%;
	background-color: #333;
	border-radius: 14px;
	border-width: 0px;
	padding: 6px 10px;
	margin-left: 4px;
	margin-bottom: 8px;
	color: #fff;
	font-size: 14px;
	font-style: none;
	font-weight: bold;
	font-family: arial;
	cursor: pointer;
}

select.item-dropdown option {
	color: #222;
	background-color: #FFF;
}

/*ADD-ONS*/
div.item_feed_menu {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: max-width .4s; /* For Safari 3.1 to 6.0 */
  transition: max-width .4s;
  max-width: 32px;
  min-width: 32px;
  padding: 0px;
}
div.item_feed_menu:hover {
	max-width: 280px;
}
img.feed-image { width: 28px; height: 28px; vertical-align: middle; margin: 2px; }
div.item-tools_txt { height: 30px; width: 30px; font-size: 18px; text-align: center;  font-family: Georgia, serif; margin: auto; padding: 0px; display: table-cell; vertical-align: middle; }
div.inline-name{
	display: inline-block;
	white-space: nowrap;
	margin-right: 8px;
	padding-top: 6px;
	text-decoration: underline;
}

.browse-feeds .item_feed_menu {
  max-width: 52px;
  min-width: 52px;
  border-radius: 32px;
}
.browse-feeds .item_feed_menu:hover {
	max-width: 320px;
}
.browse-feeds .feed-image { width: 48px; height: 48px; }
.browse-feeds .item-tools_txt { height: 52px; width: 52px; font-size: 32px; margin: 0px; }

.browse-feeds .inline-name {
	margin: 0px 12px 0px 4px;
	padding-top: 12px;
}

.profile-banner .avatar { margin: 20px 40px; width: 120px; height: 120px; }
.profile-banner .item-tools_dark { margin: 0px; font-size: .8em; }


.item_reply div[id^='itemAdd'] {
    display: none;
}
